body {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.expected-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > * {
    margin: 30px;
}

.result{
    display: flex;
}

input[type='text'],
input[type='number']{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
